.statistics_category_card {
  border: 1px solid #3867d6;
  border-radius: 8px;
  padding: 40px 80px;
  &:hover {
    box-shadow: rgb(7, 71, 166, 0.2) 0px 0px 10px;
    // background-color: #3867d6;
    // p {
    //   color: #fefefe;
    // }
  }

  p {
    margin: 0px 0px 0px 30px;
    font-size: 1.3rem;
    font-weight: 600;
  }

  svg {
    color: #3867d6;
  }
}
