.label_txt {
  color: #6b778c;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 0;
  margin-bottom: 4px;
}

.select_input {
  background-color: #fafbfc;
  border: 2px solid #dfe1e6;
  border-radius: 3px;
  outline: none;
}
