@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');

$sidebar-bg-color: #1d1d1d;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(29, 29, 29, 0.95);
$sidebar-color: #adadad;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import '~react-pro-sidebar/dist/scss/styles.scss';

body {
  font-family: 'Hanuman', Siemreap, Open Sans, Helvetica Neue, sans-serif;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: #fff;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding: 0;
    }
  }

  main {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    header {
      margin-bottom: 40px;
      border-bottom: 1px solid #efefef;
      h1 {
        display: flex;
        align-items: center;
        transform: translateX(-20px);
      }
    }

    footer {
      margin-top: auto;
      color: #888;
      text-align: center;
      a {
        text-decoration: none;
        color: #888;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .social-bagdes {
    margin-top: 10px;
    img {
      margin: 5px;
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      margin-left: 10px;
    }
  }

  &.rtl {
    direction: rtl;
    text-align: right;

    header {
      h1 {
        transform: translateX(20px);
      }
    }
    .block {
      direction: rtl;
      > span {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .sidebar-btn-wrapper {
      .sidebar-btn {
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;
  &.red {
    color: #ffffff;
    background: #d63030;
  }
  &.gray {
    color: #ffffff;
    background: #777777;
  }
  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}

.radio-toolbar input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar label {
  display: inline-block;
  background-color: red;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
}
.radio-toolbar input[type='radio']:checked + label {
  background-color: red;
  border: none;
  color: #fff;
}

#radio-title {
  margin-bottom: 5px;
}

.pro-sidebar {
  width: 100%;
  min-width: 100%;
  color: #fff;
  .pro-sidebar-inner {
    background-color: #0747a6;
  }
}

.pro-sidebar .pro-menu a {
  color: #fff;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover {
  color: #dfe6e9;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu > .pro-inner-item > .pro-arrow-wrapper .pro-arrow {
  display: inline-block;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  padding: 2.5px;
  vertical-align: middle;
  transition: transform 0.3s;
  transform: rotate(-45deg);
}

.sidebar-btn-wrapper {
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.moc-card {
  cursor: pointer;
  margin-top: 16px;
  display: block;
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(rgb(56 103 214) 33%, transparent 33%);
  box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 13%) 0px 0px 1px 1px;
  border-radius: 3px;

  .moc-card-body {
    padding: 16px;

    .moc-card-app {
      margin-top: 8px;
      font-size: 12px;
    }

    .moc-card-username {
      font-size: 12px;
      color: #6b778c;
    }
  }

  .moc-card-icon-container {
    display: inline-block;
    position: relative;
    outline: 0px;
  }

  .moc-card-icon {
    height: 32px;
    width: 32px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-radius: 3px;
    box-sizing: content-box;
    cursor: inherit;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    overflow: hidden;
    position: static;
    transform: translateZ(0px);
    transition: transform 200ms ease 0s, opacity 200ms ease 0s;
    box-shadow: 0 0 0 2px var(--background-overlay, #ffffff);
    border: none;
    margin: 2px;
    padding: 0px;
    font-size: inherit;
    font-family: inherit;
  }

  &:hover {
    box-shadow: rgb(9 30 66 / 25%) 0px 8px 16px -4px, rgb(9 30 66 / 31%) 0px 0px 1px;
    transition: box-shadow 0.2s ease 0s;
  }
}

.codex-editor {
  .codex-editor__redactor {
    padding-bottom: 60px !important;
  }
}

.ce-settings {
  right: -50px;
}

.ce-paragraph {
  font-size: 16px;
  line-height: 1.8em !important;
}

.ce-toolbar__content {
  max-width: 90%;
}

.ce-block__content {
  max-width: 90%;
}

.mainEditor {
  border: 2px dashed #bdc3c7;
  padding: 5px 0px 0px 20px;
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 95% !important;
  }
}

.reset-list-group-item {
  position: none !important;
  display: block;
  border: none !important;
  background: none !important;
  padding: 0 !important;
  margin-bottom: 0;
}

.sidebar-content {
  a {
    color: #fff;
  }
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  padding: 0px 35px 0px 20px;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
  margin-top: 15px;
}

.pro-sidebar .pro-menu a:before {
  content: none;
}
