.label_theme {
  color: rgb(107, 119, 140);
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 0px;
  margin-bottom: 4px;
}

.newsFeatureImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px 60px;
  border: 2px dashed #bdc3c7;
  cursor: pointer;
  .newsFeatureImageIcon {
    svg {
      font-size: 32px;
      color: #bdc3c7;
    }
  }
}

.newsUploadWrapper {
  margin-top: 150px;
  margin-bottom: 150px;

  .newsUploadContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.selectedImageInfo {
  p {
    margin: 0;
    font-size: 12px;
    margin-bottom: 3px;
  }
}

.select_theme {
  background-color: rgb(250, 251, 252);
  border: 2px solid rgb(223, 225, 230);
  border-radius: 3px;
  outline: none;

  & > div {
    background-color: rgb(250, 251, 252);
    border: 0px solid rgb(223, 225, 230);
    border-radius: 3px;
  }
}

.newsFeatureImageContainer,
.icon_upload {
  height: 5em;
  background-color: #fff;
  padding: 0;
  margin: 1em 0;
}

.icon_container {
  width: 100%;

  .sub_icon {
    width: 3%;
    line-height: 3.5;

    .facebookIcon {
      width: 100%;
      font-size: 2em;
      max-width: 100%;
      color: #0b8af0;
    }

    .TelegramIcon {
      width: 100%;
      font-size: 2em;
      max-width: 100%;
      color: #2aa9ea;
    }
  }

  .sub_link {
    width: 100%;
  }
}
