.profile {
  max-width: 100%;
  width: 3.2em;
  height: 3.2em;

  img {
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;
  }
}

.label_txt {
  color: #6b778c;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 0;
  margin-bottom: 4px;
}