.titleInput {
  border: 2px dashed #bdc3c7;
  padding: 20px;
  &::placeholder {
    font-size: 18px;
  }
}

.summaryInput {
  border: 2px dashed #bdc3c7;
  padding: 5px 0px 0px 20px;
  &::placeholder {
    font-size: 18px;
  }
}

.titleClimp {
  width: 500px;
}

.newsFeatureImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px 60px;
  border: 2px dashed #bdc3c7;
  cursor: pointer;
  .newsFeatureImageIcon {
    svg {
      font-size: 32px;
      color: #bdc3c7;
    }
  }
}

.newsUploadWrapper {
  margin-top: 150px;
  margin-bottom: 150px;

  .newsUploadContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

// switch btn
@mixin switch($res: 'sm') {
  $index: 1rem;
  $mainVal: 1rem;

  @if $res == 'md' {
    $index: 2rem;
    $mainVal: 1.5rem;
  } @else if $res == 'lg' {
    $index: 3rem;
    $mainVal: 2rem;
  } @else if $res == 'xl' {
    $index: 4rem;
    $mainVal: 2.5rem;
  }

  .custom-control-label {
    padding-left: #{$index};
    padding-bottom: #{$mainVal};
  }

  .custom-control-label::before {
    height: $mainVal;
    width: calc(#{$index} + 0.75rem);
    border-radius: $mainVal * 2;
  }

  .custom-control-label::after {
    width: calc(#{$mainVal} - 4px);
    height: calc(#{$mainVal} - 4px);
    border-radius: calc(#{$index} - (#{$mainVal} / 2));
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(#{$mainVal} - 0.25rem));
  }
}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl
.custom-switch.custom-switch-sm {
  @include switch();
}

.custom-switch.custom-switch-md {
  @include switch('md');
}

.custom-switch.custom-switch-lg {
  @include switch('lg');
}

.custom-switch.custom-switch-xl {
  @include switch('xl');
}

.img_radius {
  border-radius: 50%;
  width: 20% !important;
}
